*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    list-style-type: none;
    border: none;
    outline: none;
    font-family: sans-serif;
    transition: 0.5s ease;
}
html{
    scroll-behavior: smooth;
}
button:hover{
    cursor: pointer;
}

/* Nav Section */
.header{
    display: flex;
    padding: 1rem 2.5rem;
    align-items: center;
    justify-content: end;
}
.header nav{
    justify-content: space-between;
}
.header nav p{
    display: inline-block;
    padding-left: 2rem;
    font-size: large;
}
#menu-btn{
    display: none;
}

/* Home Section */
.banner{
    background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url('./images/banners.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
    z-index: 1;
}
.home-container{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%,-50%);
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto 4vw;
    align-items:start;
    z-index: 2;
}
.home-content{
    line-height: 1.75;
    letter-spacing: 1.5px;
}
.home-content li{
    list-style: disc;
    color: white;
    font-size: 1.1em;
}
.home-content button{
    background-color: #10345b;
    text-transform: uppercase;
    padding: 2%;
    margin-top: 3%;
    font-size: 1.1em;
    color: white;
    border-radius: 4px;
}
.form-container{
    padding: 1% 0;
    width: 45%;
    border-radius: 4px;
    background-color: white;
}
.form-container form{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-container form h3{
    color: #10345b;
    margin-bottom: 1%;
}
.form-container form a{
    font-weight: bold;
    color: #10345b;
    margin-bottom: 4%;
}
.form-container form a i{
    margin-right: 6px;
}
.form-container input,.form-container button{
    width: 80%;
    margin-bottom: 1.5em;
    padding: 0.2em;
    font-size: 1vw;
    border-bottom:1px solid #10345b;
}
.form-container input::placeholder{
    color: #777;
}
.form-container button{
    color: white;
    padding: 0.5em;
    border-radius: 4px;
    background-color: #10345b;
    text-transform: uppercase;
}

/* Form Popup Section */
.form-popup{
    position: fixed;
    z-index: 10;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.form-popup .form-content{
    width: 48%;
    background-color: white;
    margin: 6em auto;
    padding: 0.5em;
    border-radius: 5px;
}
.form-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.form-content img{
    width: 95%;
    height: 65vh;
    object-fit: cover;
    filter: grayscale(0.5);
}
.form-heading{
    line-height: 2.3em;
}
.form-heading form{
    margin: 2em 0;
}
.form-heading form input{
    display: block;
    border:1px solid #777;
    padding: 0.5em;
    font-size: 1.24vw;
    width: 95%;
    margin: 0.8em 0;
    border-radius: 5px;
}
.form-heading p{
    color: #10345b;
    font-weight: bold;
    font-size: 1.5vw;
}
.form-heading h2{
    color: rgb(1, 119, 1);
}
.form-heading form button{
    width: 95%;
    background-color: #10345b;
    padding: 0.5em;
    font-size: 1.24vw;
    color: white;
    border-radius: 5px;
}
.form-heading form input::placeholder{
    color: #777;
}
.close-modal{
    display: block;
    text-align: end;
    margin: 0.4em 0.3em;
    font-size: 2.5em;
}
.close-modal:hover{
    cursor: pointer;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}   
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
.form-popup{
    display: none;
}

/* Overview Section */
.overview_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}
.overview_container h2{
    font-size: 30px;
    font-weight: 600;
    border-bottom: 1px solid gray;
    padding-bottom: 0.3em;
    width:fit-content;
    margin: 1em;
}
.overview_container p{
    letter-spacing: 1.5px;
    line-height: 30px;
    width: 85%;
    display: inline-block;
}

/*info container*/
.info_container{
    margin: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.info{
    /*border: 1px solid gray;*/
    margin: 1rem;
    padding: 1.5rem;
    min-width: 352px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    min-width: 300px ;
    background-color: aliceblue;
    box-shadow: 7px 11px 12px 0px rgba(0,0,0,0.1);
    
}

.info button{
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    font-size: 16px;
}
.info p{
    margin: 0.5em;
    font-size: 18px;
}


/*amenities container*/

.amenities_container{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    align-items: center;
    justify-content: center;

}

.amenities_container h2{
    font-size: 30px;
    font-weight: 600;
    border-bottom: 1px solid gray;
    padding-bottom: 0.3em;
    margin: 1em;

}

.amenities{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.amenity{
    /*border: 1px solid gray;*/
    margin: 1em;
    min-width: 288px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    border-radius: 8px;
}

.amenity p{
    font-weight: 500;
}

.amenity img{
    width: 60px;
    margin: 0.8em;
}

/*price section*/

.price_container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.price_container h2{
    
    margin: 2rem;
    border-bottom: 1px solid gray;
    padding-bottom: 0.5em;
}

.price_list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.price_item{
   /* border: 1px solid gray;*/
    margin: 2em;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    border-radius: 15px;
    background-color: aliceblue;
    box-shadow: 7px 11px 12px 0px rgba(0,0,0,0.1);
}

.heading{
    font-size: 20px;
    font-weight: 600;
    margin-top: 1em;
}
.content{
    margin: 0.5em;
    font-size: 18px;
}

/*Location*/

.location_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location_content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem;
    padding: 20px;
    background-color: aliceblue;
}

.location_content img{
    width: 40%;
}

.location_container h2{
    
    border-bottom: 1px solid gray;
    padding-bottom: 0.5em;
    font-size: 30px;
    font-weight: 600;
}

.location_content li{
    margin: 1em;
}

/*Floor plan*/

.floorplan_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.floorplan_container img{
    width: 65%;
    margin: 2rem;
    
}

.floorplan_container h2{
    border-bottom: 1px solid gray;
    padding-bottom: 0.5em;
    font-size: 30px;
    font-weight: 600;
}


/*Footer*/


.contact{
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: aliceblue;
    margin: 3em 0em 0em 0em;
}
.contact_top{
    display: flex;
    justify-content: space-between;
    padding: 2rem;    
}
.contact_left{
    flex: 1;
}
.footer_form_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 2;
}
.footer_form_container form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.footer_form_container input{
    margin: 0.5em;
    padding: 0.7em;
    width: 60%;
    border-radius: 5px;
}
.footer_form_container button{
    padding: 0.5em;
    margin: 0.8em;
    width: 60%;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 15px;

}
.contact_left h4{
    margin-bottom: 10px;
}
.contact_left p{
    margin: 7px;
}
.footer_form_container h4{
    margin-bottom: 10px;
}
.disclaimer{
    padding: 9px;
    font-size: 10px;
}

/* media queries  */

/* nav section */
@media screen and (min-width:1000px) {
    .header p::after{
        content: "";
        display: block;
        height: 3.5px;
        transform: scaleX(0);
        background-color:black;
        transition: transform 300ms;
    }
    .header p:hover::after{
        transform: scaleX(1);
    }  
}
@media screen and (max-width:1000px) {
    .header{
        position: relative;
    }
    .header nav{
        position: absolute;
        display: block;
        top:99%;
        left:0;
        right: 0;
        z-index: 5;
        width: 100%;
        background-color: white;
    }
    .navbar-container{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header nav p:nth-child(1){
        border-top: 1px solid black;
    }
    .header nav p{
        display: block;
        text-align: center;
        padding: 0.8em;
        border-bottom: 1px solid black;
    }
    .header nav a:hover{
        color: #7a5833;
    }
    .header img{
        width: 10%;
    }
    #menu-btn{
        display: block;
        padding: 10px;
        border: 2px solid black;
        border-radius: 5px;
        font-size: 1.3em;
    }
    .open-menu{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

/* home section */
@media screen and (max-width:1000px) {
    .home-container{
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 2em;
        justify-content: space-around;
        margin: auto 4vw;
        align-items:center;
        z-index: 2;
    }
    .banner{
        background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0)),url('./images/banners.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        height: 90vh;
        position: relative;
        z-index: 1;
    }
    .home-content{
        line-height: 1.5;
        letter-spacing: 1px;
    }
    .home-content li{
        font-size: 1.1em;
    }
    .home-content button{
        font-size: 1em;
    }
    .form-container{
        padding: 1%;
        width: 55%;
    }
    .form-container form{
        margin-top: 2%;
    }
    .form-container form h3{
        margin-bottom: 1%;
    }
    .form-container form a{
        margin-bottom: 4%;
    }
    .form-container input,.form-container button{
        width: 80%;
        margin-bottom: 1em;
        padding: 0.3em;
        font-size: 1.7vw;
    }
    .form-container button{
        padding: 0.5em;
    }
}
@media screen and (max-width:800px) {
    .home-container{
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 2em;
        justify-content: space-around;
        margin: auto 4vw;
        align-items:center;
        z-index: 2;
    }
    .form-container{
        width: 65%;
    }
    .form-container form h3{
        font-size: medium;
    }
    .form-container input,.form-container button{
        margin-bottom: 1.5em;
        font-size: 2vw;
    }
}
@media screen and (max-width:700px){
    .form-container{
        width: 70%;
    }
}
@media screen and (max-width:600px) {
    .home-container{
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 2em;
        justify-content: space-around;
        margin: auto 4vw;
        align-items:center;
        z-index: 2;
    }
    .home-content li{
        font-size: 1em;
    }
    .form-container{
        width: 90%;
    }
    .form-container input,.form-container button{
        margin-bottom: 1.5em;
        font-size: 2.5vw;
    }
}

/* Form Popup Section */
@media screen and (max-width:1300px) {
    .form-popup .form-content{
        width:80%;
        position: relative;
    }
    .close-modal{
        position: absolute;
        top:0;
        right: 0;
    }
    .form-heading form input,.form-heading form button{
        padding: 0.6em;
        font-size: 1.45vw;
    }
    .form-heading p{
        font-size: 1.4em;
    }
}
@media screen and (max-width:1000px) {
    .form-heading form input,.form-heading form button{
        padding: 0.75em;
        font-size: 1.75vw;
    }
    .form-heading p{
        font-size: 1.3em;
    }
}
@media screen and (max-width:800px) {
    .form-popup .form-content{
        width:95%;
        position: relative;
    }
    .form-content img{
        height: 60vh;
    }
    .form-heading form input,.form-heading form button{
        font-size: 1.95vw;
    }
    .form-heading{
        margin-top: 2.5em;
    }
}
@media screen and (max-width:500px) {
    .form-heading form input,.form-heading form button{
        font-size: 3.5vw;
    }
    .form-content img{
        display: none;
    }
    .form-popup .form-content{
        padding: 1em;
        margin: 4em auto;
    }
    .form-content{
        grid-template-columns: 1fr;
    }
}


/* location */
@media screen and (max-width:1000px) {
    .location_content{
        display: flex;
        flex-direction: column;
    }

    .location_content img{
        width: 100%;
        margin: 1rem;
    }
    
}
